.Toast {
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: hsl(0 0% 50% / 0.3);
  border-radius: 0.5rem;
}
