.WordsGrid {
  display: grid;
  gap: clamp(0.25rem, 2vmin, 0.5rem);
}

.WordGuess {
  display: flex;
  gap: clamp(0.25rem, 2vmin, 0.5rem);
}

.Letter {
  --_size: clamp(3rem, 3rem + 1.5vmin, 4rem);
  width: var(--_size);
  height: var(--_size);
  border-radius: 0.25rem;
  text-transform: uppercase;
  display: grid;
  place-content: center;
  font: 500 1.5rem monospace;
  position: relative;
  isolation: isolate;
  background: linear-gradient(var(--_bg), var(--_bg)) content-box no-repeat 0 / var(--_size);
  border: var(--_border, 1px solid hsl(0 0% 50% / 0.7));

  --letter-bg-wrong: hsl(0 0% 30% / var(--_bg-opacity, 0.5));
  --letter-bg-correct: hsl(150 50% 30% / var(--_bg-opacity, 0.4));
  --letter-bg-misplaced: hsl(50 50% 50% / var(--_bg-opacity, 0.4));

  @media (forced-colors: active) {
    forced-color-adjust: none;
    --_bg-opacity: 0.25;
  }

  &[data-state='correct'],
  &[data-state='wrong'],
  &[data-state='misplaced'] {
    @media (prefers-reduced-motion: no-preference) {
      animation: clip-in-bg 0.5s var(--delay) ease-in-out both;
    }
  }

  &[data-state='active'] {
    --_border: 1px solid currentColor;
  }

  &[data-state='wrong'] {
    --_bg: var(--letter-bg-wrong);
  }

  &[data-state='correct'] {
    --_bg: var(--letter-bg-correct);

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      right: 2px;
      width: 0.75rem;
      height: 0.75rem;
      background-color: currentColor;
      opacity: 0.6;
      mask: var(--check-svg) no-repeat center center / contain;
      forced-color-adjust: none;
      @media (prefers-reduced-motion: no-preference) {
        animation: clip-in 0.5s var(--delay) ease-in-out both;
      }
    }
  }

  &[data-state='misplaced'] {
    --_bg: var(--letter-bg-misplaced);
  }
}

@keyframes clip-in {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes clip-in-bg {
  from {
    background-position: calc(var(--_size) * -1) 0;
  }
}

.HiddenInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  font-size: 1rem;
  -webkit-tap-highlight-color: transparent;
}
