[data-theme='light'] {
  background: linear-gradient(45deg, hsl(194deg 100% 93%) 0%, hsl(193, 53%, 97%) 88%, hsl(0, 0%, 100%) 100%);
}

[data-theme='dark'] {
  background: radial-gradient(circle at 50% -250%, #374151, #111827, #000); /* from open-props.style */
}

:root {
  --close-svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.46 12L19 17.54V19h-1.46L12 13.46L6.46 19H5v-1.46L10.54 12L5 6.46V5h1.46L12 10.54L17.54 5H19v1.46L13.46 12Z"></path></svg>');
  --check-svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59L21 7z"></path></svg>');
}

h1 {
  text-align: center;
  font-weight: normal;
  font-family: 'Give You Glory', system-ui, sans-serif;
  font-size: 2.5rem;
}

.WordsGrid {
  display: grid;
  gap: 0.5rem;
}

.WordGuess {
  display: flex;
  gap: 0.75rem;
}

.Letter {
  width: 4rem;
  height: 4rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  display: grid;
  place-content: center;
  font: 500 1.5rem monospace;

  --letter-bg-wrong: hsl(0 0% 30% / 0.5);
  --letter-bg-correct: hsl(150 50% 30% / 0.4);
  --letter-bg-misplaced: hsl(50 50% 50% / 0.4);

  &[data-state='empty'] {
    border: 1px solid hsl(0 0% 50% / 0.7);
  }

  &[data-state='active'] {
    border: 1px solid currentColor;
  }

  &[data-state='wrong'] {
    background-color: var(--letter-bg-wrong);
  }

  &[data-state='correct'] {
    background-color: var(--letter-bg-correct);
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      right: 2px;
      width: 0.75rem;
      height: 0.75rem;
      background-color: currentColor;
      opacity: 0.6;
      mask: var(--check-svg) no-repeat center center / contain;
    }
  }

  &[data-state='misplaced'] {
    background-color: var(--letter-bg-misplaced);
  }
}

.Toast {
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: hsl(0 0% 50% / 0.3);
  border-radius: 0.5rem;
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
  }
}

.ResultDialog {
  &[hidden],
  &:not([open]) {
    display: none;
  }

  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  border: none;
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: clamp(15rem, 95vw, 25rem);
  box-shadow: 0 0 0.25rem hsl(0 0% 0% / 0.5);
  backdrop-filter: blur(0.5rem);
  background: var(--dialog-bg);
  @media (prefers-reduced-motion: no-preference) {
    animation: slide-in 0.5s ease-in-out;
  }

  --dialog-bg: hsl(0 0% 70% / 0.5);
  --backdrop-bg: initial;

  @nest [data-theme='dark'] & {
    --dialog-bg: hsl(0 0% 15% / 0.8);
  }

  @supports not (backdrop-filter: blur(0.25rem)) {
    --backdrop-bg: hsl(0 0% 0% / 0.5);
    --dialog-bg: Canvas;
    color: currentColor;
  }

  &::backdrop {
    background: var(--backgrop-bg);
    backdrop-filter: blur(0.25rem);
  }

  & > article {
    display: grid;
    justify-items: center;

    & > h2 {
      font-size: 1.25rem;
      margin-block: 0;
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  --divider-color: hsl(0 0% 0% / 0.4);
  @nest [data-theme='dark'] & {
    --divider-color: hsl(0 0% 50% / 0.4);
  }

  & > * + * + * {
    margin-block-start: 0.75rem;

    &::before {
      content: '';
      margin-block-end: 0.75rem;
      border: 0.5px solid var(--divider-color);
      inline-size: 80%;
    }
  }
}

.ResultDialog__Stats {
  display: flex;
  justify-content: center;

  & > * {
    text-align: center;
    max-width: 8ch;
    overflow-wrap: break-word;
    font-size: 0.875rem;
    line-height: 1.1;

    &::first-line {
      font-size: 2rem;
      line-height: 1.5;
    }
  }
}

.ResultDialog__Close {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  height: 2.5rem;
  width: 2.5rem;
  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background: hsl(0 0% 50% / 0.3);
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0.5rem;
    background-color: currentColor;
    mask: var(--close-svg) no-repeat center center / contain;
  }
}

.ResultDialog__ActionBar {
  display: flex;
  flex-wrap: wrap; /* for divider to show in its own line */
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.ResultDialog__Action {
  display: inline-flex;
  place-items: center;
  font: inherit;
  cursor: pointer;
  height: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  color: currentColor;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background: hsl(150 50% 30% / 0.4);
  transition: background 0.2s ease-in-out;

  &:hover {
    background: hsl(150 50% 40% / 0.6);
  }

  &:active {
    background: hsl(150 40% 25% / 0.4);
  }
}

.ResultDialog__ShareNote {
  font-style: italic;
  font-size: 0.875rem;
  padding-inline: 1rem;

  & a {
    text-decoration: none;
    color: hsl(244 74% 40%);

    @nest [data-theme='dark'] & {
      color: hsl(240 50% 80%);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.ResultDialog__EmojiGrid {
  white-space: pre-line;
  font-size: 1.5rem;
  user-select: none;
  padding: 1rem;
  margin: 0.5rem auto 1.5rem;
  line-height: 1.5;
}

.ResultDialog__ShareActions {
  position: relative;
  padding: 0 2rem;
}

.ResultDialog__Copied {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  opacity: 0.6;
  mask: var(--check-svg) no-repeat center center / contain;
  background-color: hsl(150 50% 50% / 0.7);
  animation: appear 0.6s ease-in-out;
}

@keyframes appear {
  from {
    clip-path: inset(0 100% 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.Timer {
  font-size: 2rem;
}

.Distribution {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem 1rem;
  justify-self: stretch;
  padding-inline: 2rem;

  & > :nth-child(even) {
    min-width: 2ch;
    padding-inline: 0.25rem;
    margin-inline: 0;
    text-align: right;
    background-color: var(--distribution-bar-bg);
    border-radius: 1px;

    --bar-bg-opacity: 0.7;
    @nest [data-theme='dark'] & {
      --bar-bg-opacity: 0.25;
    }
    --distribution-bar-bg: hsl(0 0% 50% / var(--bar-bg-opacity));

    &[data-current='true'] {
      --distribution-bar-bg: hsl(150 50% 30% / 0.4);
    }
  }
}

.VisuallyHidden {
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
