h1 {
  text-align: center;
  font-weight: normal;
}

.WordsGrid {
  display: grid;
  gap: 1rem;
}

.WordGuess {
  display: flex;
  gap: 1rem;
}

.Letter {
  width: 4rem;
  height: 4rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  display: grid;
  place-content: center;
  font: 500 1.5rem monospace;

  --letter-bg-wrong: hsl(0 0% 30% / 0.5);
  --letter-bg-correct: hsl(150 50% 30% / 0.4);
  --letter-bg-misplaced: hsl(50 50% 50% / 0.4);

  &[data-state='empty'] {
    border: 1px solid hsl(0 0% 50% / 0.7);
  }

  &[data-state='active'] {
    border: 1px solid currentColor;
  }

  &[data-state='wrong'] {
    background-color: var(--letter-bg-wrong);
  }

  &[data-state='correct'] {
    background-color: var(--letter-bg-correct);
  }

  &[data-state='misplaced'] {
    background-color: var(--letter-bg-misplaced);
  }
}

.Toast {
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: hsl(0 0% 50% / 0.3);
  border-radius: 0.5rem;
}

.ResultDialog {
  position: fixed;
  inset: 0;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
}

.Timer {
  font-size: 2rem;
}
